/*30px*/
/*1.875rem*/
/*24px*/
/*20px*/
/*16px*/
.container_DeviceAndActivities .containerSubCard_DeviceAndActivities {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem; }
  .container_DeviceAndActivities .containerSubCard_DeviceAndActivities .containerRightSubCard {
    height: 100%;
    width: 100%; }
    .container_DeviceAndActivities .containerSubCard_DeviceAndActivities .containerRightSubCard p {
      width: 80%;
      display: flex;
      justify-content: space-between; }
  .container_DeviceAndActivities .containerSubCard_DeviceAndActivities .containerBtns {
    display: flex;
    justify-content: flex-end;
    width: 50%; }
    .container_DeviceAndActivities .containerSubCard_DeviceAndActivities .containerBtns .wrapBtns {
      display: flex;
      width: 60%;
      height: 100%;
      justify-content: space-evenly; }
  .container_DeviceAndActivities .containerSubCard_DeviceAndActivities .containerBtn {
    align-self: flex-end;
    display: flex;
    justify-content: space-between; }

.light .containerSubCard_DeviceAndActivities {
  color: #000000; }
  .light .containerSubCard_DeviceAndActivities .containerRightSubCard p {
    color: #949494; }
    .light .containerSubCard_DeviceAndActivities .containerRightSubCard p span {
      color: #000000; }
  .light .containerSubCard_DeviceAndActivities .containerBtns {
    color: #FFFFFF; }
  .light .containerSubCard_DeviceAndActivities .wrapBtns {
    color: #FFFFFF; }

.light .second .containerRightSubCard {
  color: #000000; }
  .light .second .containerRightSubCard p {
    color: #000000; }
    .light .second .containerRightSubCard p span {
      color: #FF1282;
      text-decoration: underline; }

.dark .containerSubCard_DeviceAndActivities {
  color: #FFFFFF; }
  .dark .containerSubCard_DeviceAndActivities .containerRightSubCard p {
    color: #949494; }
    .dark .containerSubCard_DeviceAndActivities .containerRightSubCard p span {
      color: #FFFFFF; }
  .dark .containerSubCard_DeviceAndActivities .containerBtns {
    color: #FFFFFF; }
  .dark .containerSubCard_DeviceAndActivities .wrapBtns {
    color: #FFFFFF; }

.dark .second .containerRightSubCard p span {
  color: #00FFF7;
  text-decoration: underline; }
