@import '../../assets/_vars.scss';

.containerTokens{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5em;
    height: 100%;
    padding:0.5rem;
    font-size: $fontsubMediumSize;

    .containerInfoBalance{
        display: flex;
    justify-content: space-between;
    width: 100%;

    .infoBalance{
        display: flex;
        gap: 0.4rem;
        color: $LightGrey;
        align-items: center;
        width: 40%;
        p{
            font-size: 24px;
        }
        span{
            font-size: $fontsubMediumSize
        }
    }
    }

    .containerPayments{
        display: flex;
        justify-content: space-between;

        .payment{
            p{
                font-size: 14px;
            }
        }
    }



}

.light{

    .title, .stage, .titleBalance, .titlePayments{
        color: $PrimaryTextColor
    }
    .infoBalance p{
        color: $BlackText;
    }

    .payment div{
        color: $BlackText
    }
    .noAmount{
         color: $PrimaryTextColor;
        opacity: 0.2;

        .status{
            color: $SecondaryTextColor
        }
    }

}

.dark{

    .title, .stage, .titleBalance, .titlePayments{
            color: $PrimaryTextDark
        }
        .infoBalance p{
            color: $White
        }

        .payment div{
            color: $White
        }

        .infoBalance{
            color: $White
        }

        .noAmount{
            color: $PrimaryTextDark;
           opacity: 0.2;

           .status{
               color: $SecondaryTextColor
           }
       }
}

// @media (max-width:800px){
//     .containerTokens{
//         display: none;
//     }
// }