 @import "../../../assets/_vars.scss";

 .topSection-light{
    width: 100%;
    height: 5%;
    .headerSection{
        padding: 0 5.5rem 0 0.5rem;
        justify-content: space-between;
        color: $SecondaryTextColor;
        width:100%;
        box-shadow: $boxShadow;
    }

    .info {
        color:$PrimaryTextColor;
         font-weight: 300;
         display: flex;
    justify-content: space-evenly;
    gap: 0.5rem;
    align-items: center;

        .icon{
            color:$SecondaryTextColor
        }
    }
 }

 .topSection-dark{
    width: 100%;
    height: 5%;
    .headerSection{
        padding: 0 5.5rem 0 0.5rem;
        justify-content: space-between;
        color: $SecondaryTextColor;
        width:100%;
        box-shadow: $boxShadow;
    }

    .info {
        color:$PrimaryTextDark;
         font-weight: 300;

        .icon{
            color:$White
        }
    }
 }

 :hover .headerSection .info{
    cursor: pointer;
 }

 @media (max-width:800px){
    .contactInfo{
        display: none;
    }
    .toggleContainer{
        display: none;
    }
  }