/*30px*/
/*1.875rem*/
/*24px*/
/*20px*/
/*16px*/
.containerTokens {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1em;
  justify-content: space-between; }
  .containerTokens .firstRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%; }
  .containerTokens .txtInfo {
    font-size: 1.5em; }
    .containerTokens .txtInfo span {
      color: #6D6D6D;
      font-size: 1em; }
  .containerTokens .usdInfo {
    font-size: 1.875em; }
    .containerTokens .usdInfo span {
      color: #6D6D6D;
      font-size: 1em; }
  .containerTokens .title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #FF1282; }
    .containerTokens .title .hideIcon {
      color: #6D6D6D;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.2rem; }
  .containerTokens .subtitle {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center; }
  .containerTokens .secondRow {
    display: flex;
    flex-direction: column;
    height: 80%; }
    .containerTokens .secondRow .percentajeValues {
      display: flex;
      gap: 2rem; }
      .containerTokens .secondRow .percentajeValues span {
        font-size: 1em; }
    .containerTokens .secondRow .wrapGraph {
      display: flex;
      justify-content: space-between; }
    .containerTokens .secondRow .rowValues {
      display: flex;
      gap: 2rem; }
      .containerTokens .secondRow .rowValues span {
        color: #6D6D6D;
        font-size: 1em; }

@media (max-width: 800px) {
  .containerTokens .subtitle {
    width: 100%; }
  .light .containerTokens .subtitle {
    background-color: #FF128226; }
  .dark .containerTokens .subtitle {
    background-color: #00FFF726; } }
