@import '../../assets/vars.scss';

.wrapCountdown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titleContainer{
    display: flex;
    justify-content: center;
    gap:0.5rem;
    font-size: $fontBiggestSize;
}
.countDownDiv{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;

    .wrapInfoCount{
        height: 80%;
    }

    .valuesCountDown{
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 80%;

        .onlyValueCount{
            background-color: $BgCount;
            border:1px solid $BorderCount;
            color: $White;
            width: 40%;
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            letter-spacing: 0.035em;
            color: $BlackText
        }
    }
    .propertyCount{
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.035em;
        justify-content: center;
    }
}

.light{

    .titleContainer{

    p{
        color: $PrimaryTextColor
    }
}


}

.dark{
    .countDownDiv{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .valuesCountDown{
            display: flex;
            justify-content: space-around;
            width: 100%;

            .onlyValueCount{
                background-color: $BackgroundColorDark;
                border:1px solid $BackgroundColorDark;
                color: $White;
                width: 40%;
                padding: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                letter-spacing: 0.035em;
                color: $LightGrey
            }
        }
        .propertyCount{
            color: $White
        }
    }

    .titleContainer{

    p{
        color: $PrimaryTextDark
    }
}
}

@media (max-width: 800px){
    .titleContainer{
        width:100%;
        justify-content: flex-start;
    }

    .dark{
        .countDownDiv{
            .valuesCountDown{
                .onlyValueCount{
                    background-color: $White;
                    border:1px solid $White;
                    color: $BlackText
                }
            }
            .propertyCount{
                color: $White
            }
        }

        .titleContainer{

        p{
            color: $PrimaryTextDark
        }
    }
    }
}