/*30px*/
/*1.875rem*/
/*24px*/
/*20px*/
/*16px*/
.containerPreSaleToken .titlePreSale {
  font-size: 1.25em; }

.containerPreSaleToken .tokenPrice {
  font-size: 1em;
  display: flex;
  gap: 2rem; }

.light {
  height: 100%;
  color: #6D6D6D; }
  .light .tokenPrice div span {
    color: #FF1282; }

.dark {
  height: 100%;
  color: #FFFFFF; }
  .dark .tokenPrice div span {
    color: #00FFF7; }
