@import "../../assets/_vars.scss";

.containerPreSaleToken{

    .titlePreSale{
        font-size: $fontMediumSize;
    }
    .tokenPrice{
        font-size: $fontSmallSize;
        display: flex;
        gap: 2rem;
    }
}

.light{
    height: 100%;
    color: $SecondaryTextColor;
    .tokenPrice{
        div{
            span{
                color: $PrimaryTextColor
            }
        }
    }
}

.dark{
    height: 100%;
    color:$White;

    .tokenPrice{
        div{
            span{
                color: $PrimaryTextDark
            }
        }
    }
}