#root > div > div.mainContent > div.containerCards.light > div.leftContainerCards > div > div:nth-child(2) > div > div.secondRow > div.wrapGraph > div.containerGraph > div > div{
    height: 100px;
}

// svg {
//     height: 150px;
//     width: 450px;
// }
// foreignObject {
//     height: 350px;
//     width: 550px;
// }

.chart-container {
    width: 600px;
    height: 600px;
}
