@import "../../assets/vars";

  .sideBar-light{
    max-width: 18%;
    height: 100%;
    gap:3rem;
    overflow: auto;

    .menuDiv{
      .divTitle{
        font-size: $fontSmallSize;
        color:$SecondaryTextColor;
        padding: 0.5rem;
      }

      .menuLists{
        margin-left: 0.5rem;
        padding-top: 1rem;

        .listItem{
          padding: 0.5rem;
          width: 100%;
          position: relative;

        }
      }

      .menuLists :hover {
        background-color:  $HoverBgColor;
        transition: 0;
        border-radius: 5px;
        color: $PrimaryTextColor;
        cursor: pointer;
      }

      .menuLink{
        color: $SecondaryTextColor;
        font-weight: 300;
        display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
        .icon{
          margin-right: .5rem;
        }
      }

    }

    div.divMsg {
      background-color: $PrimaryTextColor;
    color: $White;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border-radius: 10px;
    }

  }
  .sideBar-dark{
    max-width: 18%;
    height: 100%;
    gap:3rem;
    overflow: auto;

    .menuDiv{
      .divTitle{
        font-size: $fontSmallSize;
        color:$SecondaryTextColor;
        padding: 0.5rem;
      }


      .menuLists{
        margin-left: 0.5rem;
        padding-top: 1rem;
        .listItem{
          padding: 0.5rem;
          width: 100%;
          position: relative;

        }
      }

      .menuLink{
        color: $White;
        font-weight: 300;
        .icon{
          margin-right: .5rem;
        }
      }

    }
    .menuLists :hover {
      background-color: $HoverDarkColor;
      transition: 0;
      border-radius: 5px;
      color: $PrimaryTextDark;
       cursor: pointer;
    }

    div.divMsg {
      background-color: $PrimaryTextDark;
    color: $BlackText;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border-radius: 10px;
    }
  }
  .listItems{
    padding:0.5rem;
    display: flex
  }
  @media (max-width:800px){
    .sideBar-dark, .sideBar-light{
      display: none;
    }
}