@import '../../assets/vars.scss';

.containerSubCard_twoFAutentication{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem;
    color: $BlackText;

    .containerRightSubCard{
        height: 100%;
    width: 100%;

    div{
        color: $LightGrey
    }

     p{
        color: $PrimaryTextColor;
        text-decoration: underline;
     }
    }
    .containerBtns{
        display: flex;
    justify-content: flex-end;
    width: 50%;

    .wrapBtns{
        display: flex;
        width: 60%;
        height: 100%;
        justify-content: space-evenly;
    }
    }

    .containerBtn{
        align-self: flex-end;
        display: flex;
        justify-content: space-between;

    }
}