@import '../../assets/_vars.scss';

.container-card-light{
    box-shadow:$boxShadow;
    border-radius: 5px;
    padding: 0.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem
}
.container-card-dark{
    box-shadow:$boxShadow;
    border-radius: 5px;
    padding: 0.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    background-color: $BgFooterBlack;
}

@media(max-width:800px){
    .container-card-dark, .container-card-light{
        box-shadow:none;
        height: 100% !important;
    }
    .container-card-dark{
        background-color: $DarkGrey;
    }
}