@import '../../../assets/_vars.scss';

.wrapAdvanceSec{
    display: flex;
    align-items: center;

}
.containerSubCard_AdvanceSecurity{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding:0.5rem;
    height: 100%;
    align-items: flex-end;

    .containerRightSubCard{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

     p{
        width:80%;
        display: flex;
        justify-content: space-between;
     }
    }
    .containerBtns{
        display: flex;
    justify-content: flex-end;
    width: 50%;

    .wrapBtns{
        display: flex;
        width: 60%;
        height: 100%;
        justify-content: space-evenly;
    }
    }

    .containerBtn{
        align-self: flex-end;
        display: flex;
        justify-content: space-between;

    }
}

.light{
    .containerSubCard_AdvanceSecurity{
        color: $BlackText;
        .containerRightSubCard{

            p{
                color: $LightGrey;
                span{
                    color: $BlackText
                }
            }
        }
        .containerBtns{
            color: $White
        }
        .wrapBtns{
            color: $White
        }
    }

}

.dark{
    .containerSubCard_AdvanceSecurity{
        color: $White;
        .containerRightSubCard{
            p{
                color: $LightGrey;
                span{
                    color: $White
                }
            }
        }
        .containerBtns{
            color: $White
        }
        .wrapBtns{
            color: $White
        }
    }

}
