.containerSubCard_AdvanceSecurity{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding:0.5rem;

    .containerRightSubCard{
        height: 100%;
    width: 100%;

     p{
        width:80%;
        display: flex;
        justify-content: space-between;
     }
    }
    .containerBtns{
        display: flex;
    justify-content: flex-end;
    width: 50%;

    .wrapBtns{
        display: flex;
        width: 60%;
        height: 100%;
        justify-content: space-evenly;
    }
    }

    .containerBtn{
        align-self: flex-end;
        display: flex;
        justify-content: space-between;

    }
}