  $PrimaryTextColor: #FF1282;
  $PrimaryTextDark: #00FFF7;
  $SecondaryTextColor: #6D6D6D;
  $BackgroundColor: #F5F5F5;
  $BackgroundColorDark: #1f1e24;
  $BgFooterBlack:#3F3D4D;
  $HoverBgColor: #FF1282;
  $HoverIconColor: #EAEAEA;
  $BlackText: #000000;
  $LightGrey: #949494;
  $LightGreyBtn: #C4C4C4;
  $White: #FFFFFF;
  $colorShadow: #00000040;
  $footerBg: rgba(255, 18, 130, 0.05);
  $fontBiggestSize: 30px;
  /*30px*//*1.875rem*/
  $fontBigSize: 24px;
  /*24px*/
  $fontMediumSize:20px;
  /*20px*/
  $fontsubMediumSize: 18px;
  $fontSmallSize: 16px ;
  /*16px*/
  $boxShadow: 0px 4px 4px 0px $colorShadow
