  $PrimaryTextColor: #FF1282;
  $PrimaryTextDark: #00FFF7;
  $SecondaryTextColor: #6D6D6D;
  $BackgroundColor: #F5F5F5;
  $BackgroundColorDark: #1f1e24;
  $BgFooterBlack:#3F3D4D;
  $HoverBgColor: #FF1282;
  $HoverIconColor: #EAEAEA;
  $BlackText: #000000;
  $LightGrey: #949494;
  $DarkGrey: #363442;
  $LightGreyBtn: #C4C4C4;
  $BorderCount: #D1D1D1;
  $BgCount: #EDECEC;
  $White: #FFFFFF;
  $colorShadow: #00000040;
  $BgLightPink: #FF128226;
  $BgLightBlue: #00FFF726;

  $footerBg: rgba(255, 18, 130, 0.05);
  $fontBiggestSize: 1.875em;
  /*30px*//*1.875rem*/
  $fontBigSize: 1.5em;
  /*24px*/
  $fontMediumSize:1.25em;
  /*20px*/
  $fontsubMediumSize: 1.125em;
  $fontSmallSize: 1em ;
  /*16px*/
  $boxShadow: 0px 4px 4px 0px $colorShadow
