
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import "./assets/_vars";

@font-face {
  font-family: sansation;
  src: url('./assets/SansationLight.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // font-family: 'Open Sans', sans-serif;
  font-family: sansation;
  src: url('./assets/SansationLight.ttf');
  transition: .3s ease;
  font-size: 0.98em;
  transition: 0.1s
}


html {
  font-size: 90%; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.icon {
  font-size: $fontSmallSize; }

.flex {
  display: flex;
  align-items: center; }

.grid {
  display: grid;
  align-items: center;
  gap: 1.5rem; }


body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  }

.container-light{
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $BackgroundColor;
  overflow: hidden; }

/*scroll thumb*/
::-webkit-scrollbar{
  display: none;
}

.container-dark{
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $BackgroundColorDark;
  overflow: hidden; }

/*scroll thumb*/
::-webkit-scrollbar{
  display: none;
}

@media(max-width:800px){
  .container-dark{
      background-color: $DarkGrey;
  }
  // .container-card-dark{
  //     background-color: $DarkGrey;
  // }
}