/*30px*/
/*1.875rem*/
/*24px*/
/*20px*/
/*16px*/
progress::-moz-progress-bar {
  background: #FF1282; }

progress::-webkit-progress-value {
  background: #FF1282; }

.wrapProgress {
  border: 1px solid #FF1282;
  border-radius: 1em;
  padding: 0; }
  .wrapProgress .containerProgress {
    width: 100%;
    border-radius: 1em;
    height: 29px;
    background: linear-gradient(270deg, #FF1282 0%, #FFFFFF 100%);
    box-shadow: inset 0px -2px 5px rgba(0, 0, 0, 0.5); }
    .wrapProgress .containerProgress .infoProgress {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.2rem; }
      .wrapProgress .containerProgress .infoProgress .value {
        margin-left: 1rem;
        color: #363442; }
      .wrapProgress .containerProgress .infoProgress .percentaje {
        margin-right: 1rem;
        color: #000000; }

.light .wrapProgress {
  border: 1px solid #FF1282; }
  .light .wrapProgress .containerProgress {
    background: linear-gradient(270deg, #FF1282 0%, #FFFFFF 100%); }

.dark .wrapProgress {
  border: 1px solid #00FFF7; }
  .dark .wrapProgress .containerProgress {
    background: linear-gradient(270deg, #00FFF7 0%, #FFFFFF 100%); }
