@import '../../assets/_vars.scss';

progress::-moz-progress-bar { background: $PrimaryTextColor}
progress::-webkit-progress-value { background: $PrimaryTextColor }

.wrapProgress{
  border: 1px solid $PrimaryTextColor;
    border-radius: 1em;
    padding: 0;
    .containerProgress{
        width: 100%;
        border-radius: 1em;
        height: 29px;
        background:linear-gradient(270deg, #FF1282 0%, #FFFFFF 100%);
      box-shadow:inset 0px -2px 5px rgba(0, 0, 0, 0.5);

      .infoProgress{
        display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;

    .value{
      margin-left: 1rem;
      color: $DarkGrey
    }

    .percentaje{
      margin-right: 1rem;
      color: $BlackText
    }
      }
    }
}

.light{
  .wrapProgress{
    border: 1px solid $PrimaryTextColor;
      .containerProgress{
          background:linear-gradient(270deg, $PrimaryTextColor 0%, $White 100%);
    }
  }
}

.dark{
  .wrapProgress{
    border: 1px solid $PrimaryTextDark;
      .containerProgress{
          background:linear-gradient(270deg, $PrimaryTextDark 0%, $White 100%);
      }
  }
}

// .Parentdiv {
//     height: height;
//     width: '100%';
//     background-color: 'whitesmoke';
//     border-radius: 40;
//     margin: 50
//   }

//   .Childdiv{
//     height: '100%';
//    border-radius:40;
//     text-align: 'right'
//   }